.db-header-menu {
   display: none;
   margin-left: auto;

   svg {
      padding: 1rem;

      &:hover {
         cursor: pointer;
      }
   }

   @media (max-width: 450px) {
      display: block;
   }
}