<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title>Api camada3 Grupo6</title>

    <style>

    </style>

</head>
<body>
    <h1>Api Funcionando</h1>
    <h2>Version 2411220959am>
    <h3>241122 Integracion Email</h3>
    <h3>211122 booking</h3>
    <h3>211122 Correccion rutas Swagger .antMatchers </h3>
    <h3>'user-auth' into ' creating Auth Api </h3>
    <h3>Creando gilab-CI</h3>



    <ul>
        <li><a href="http://ec2-3-23-114-239.us-east-2.compute.amazonaws.com:8080/swagger-ui/index.html" target="_blank">Swagger</a></li>
        <li><a href="http://ec2-3-23-114-239.us-east-2.compute.amazonaws.com:8080/categories" target="_blank">categories</a></li>
        <li><a href="http://ec2-3-23-114-239.us-east-2.compute.amazonaws.com:8080/cities" target="_blank">cities</a></li>
        <li><a href="http://ec2-3-23-114-239.us-east-2.compute.amazonaws.com:8080/products" target="_blank">products</a></li>
    </ul>

</body>
</html>

